In [2]:
import pandas as pd

In [5]:


df  = pd.read_csv("new.csv")

In [6]:
df

,Unnamed: 0,0_200,0_500,0_800,1_200,1_500,1_800,2_200,2_500,2_800,...,59_500,59_800,60_200,60_500,60_800,train_weight,train_speed,fault_type,fault_dis,fault_severity
0,0,7.277163,1.041102,0.395840,8.902663,1.120939,0.414157,11.140477,1.210324,0.433776,...,1.196914,0.430889,13.805625,1.295733,0.451723,6925,35,NaN,0,0
1,1,4.822479,0.692274,0.263420,5.860793,0.743705,0.275242,7.274447,0.801087,0.287878,...,0.700955,0.265450,6.078513,0.753374,0.277411,4750,34,NaN,0,0
2,2,4.359172,0.604489,0.228184,5.675378,0.664224,0.241658,7.691914,0.733271,0.256361,...,4.262840,0.599462,6.849633,5.532607,0.658435,3139,44,NaN,0,0
3,3,5.288889,0.743750,0.281657,6.693750,0.809830,0.296676,8.742857,0.885124,0.312929,...,1.904000,0.476000,428.400000,2.185714,0.509394,4284,40,NaN,0,0
4,4,13.139311,1.828459,0.690767,16.984381,2.004549,0.730562,22.801868,2.207358,0.773898,...,9.493152,1.609566,33.674355,11.782198,1.754365,9736,43,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,8.861292,1.207119,0.453824,11.970089,1.341832,0.483918,17.055727,1.500421,0.517107,...,303.255556,2.506244,3.146884,9022.479339,2.924347,5570,49,NaN,0,0
96,96,6.677694,0.965098,0.367815,8.010204,1.032216,0.383301,9.785319,1.106586,0.399785,...,1.068431,8.831250,0.375438,0.997811,7.298554,7065,32,NaN,0,0
97,97,11.480495,1.592006,0.600954,14.946910,1.749327,0.636439,20.257741,1.931173,0.675163,...,11.226790,1.578767,18.039476,14.570902,1.734082,8267,44,NaN,0,0
98,98,7.500000,1.054688,0.399408,9.492188,1.148393,0.420706,12.397959,1.255165,0.443755,...,2.700000,0.675000,607.500000,3.099490,0.722354,6075,40,NaN,0,0
99,99,7.159038,1.003244,0.379622,9.124085,1.094859,0.400405,12.024971,1.199622,0.422944,...,3.164143,0.709960,90.448387,3.705463,0.763921,5626,41,NaN,0,0