In [1]:
import pandas as pd

In [7]:


df  = pd.read_csv("new.csv")

In [8]:
df

,Unnamed: 0,0_200,0_500,0_800,1_200,1_500,1_800,2_200,2_500,2_800,...,58_500,58_800,59_200,59_500,59_800,60_200,60_500,60_800,train_weight,train_speed
0,0,8.765522,1.275375,0.486835,10.380623,1.358081,0.505988,12.486993,1.4491,0.526293,...,2.02395,41.522491,0.612245,1.875,30.0,0.586826,1.741907,22.68431,10000,30